---
import { getCollection } from 'astro:content';
import PostLayout from '../../layouts/PostLayout.astro';
import Navigations from '../../components/Navigations.astro';

export async function getStaticPaths() {
  const blogEntries = await getCollection('notes');
  return blogEntries
  .filter(entry => entry.data.draft !== true)
  .map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, remarkPluginFrontmatter } = await entry.render();
---
<PostLayout pageTitle={entry.data.title}>
  <h1 class="text-4xl font-bold mb-4">ᜆᜎᜀᜈ᜔</h1>
    <Navigations url="../"/>
    <div class="flex justify-between mt-2">
      <h1 transition:name={entry.data.title} class="font-bold">{entry.data.title}</h1>
      <p class="text-neutral-400">{entry.data.pubDate.toString().slice(0,10)}</p>
    </div>
    <div class="flex justify-between mb-5">
      <p class="text-neutral-400">{entry.data.description}</p>
      <p class="text-neutral-400">{remarkPluginFrontmatter.minutesRead}</p>
    </div>
    <article class="prose dark:prose-invert max-w-none prose-img:mx-auto">
      <Content />
    </article>
</PostLayout>