---
import { getCollection } from "astro:content";
import Navigations from "../components/Navigations.astro";
import Posts from "../components/Posts.astro";
import PostLayout from "../layouts/PostLayout.astro";

const pageTitle = "jemcv | Notes"
const allPosts = await getCollection("notes");

--- 
<PostLayout pageTitle={pageTitle}>
    <h1 class="text-4xl font-bold mb-4">ᜆᜎᜀᜈ᜔</h1>
   
    <div class="p-4">
        <p class="italic text-neutral-600">Below is a collection of notes I've made over the years. If you happen to be here, I hope you find them useful. :)</p>
        {/*<p>Notes Count: {allPosts.length}</p> */}
    </div>
    <Navigations url={"/"}/>
    <ul class="mt-2">
        {
            allPosts.map((post) => (
            <Posts url={`/notes/${post.slug}/`} title={post.data.title} description={post.data.description} pubDate={post.data.pubDate.toString().slice(0,15)}/>
            ))
        }
    </ul>
</PostLayout>
